
<footer>
    <div class="container">

        <div class="col-lg-4"> New Released Movies</div>
        <div class="col-lg-4"> Most Rented Movies </div>
        <div class="col-lg-4">Movie By Actors</div>
        
        <div></div>

    </div>

    <p>&copy; @DateTime.Now.Year - Daglas Movie Store</p>
</footer>
